body
{
	font-family: 'Assistant', sans-serif;
	background-image:url('../images/background.jpg');
	background-attachment:fixed;
	color: white;
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
	font-weight:200;
}

a:link, a:visited
{
	color:#990000;
	text-decoration:none;
	font-weight:400;
}

a:hover , .current
{
	color:#FF8C00 !important;
}

a:active
{
	color:white;
}

.container
{
	width:600px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 20px;
	height: 100%;
	color: black;
	 box-shadow:5px 5px 5px #545454;
	-moz-box-shadow:5px 5px 5px #545454;
	-webkit-box-shadow:5px 5px 5px #545454;
	-moz-border-radius: 15px;
	border-radius: 15px; margin-top:20px;
}

.right
{
	float: right;
	width: 50%;
	text-align: right;
	border: 0px solid red;
}

.homeright
{
	text-align:left;
	width:375px;
	text-align:left;
}

.left
{
	text-align:left;
	float: left;
	width: 49%;
	border: 0px solid red;
}

.homeleft
{
	width:200px;
}


.city
{
	float: right;
	width: 22%;
	text-align: right;
	border: 0px solid red;
}
.year
{
	float: left;
	width: 17%;
	border: 0px solid red;

}
.center
{
	float: left;
	width: 60%;
	border: 0px solid red;
}
.center2
{
	float: left;
	width: 77%;
	border: 0px solid red;
}

h2,h3
{
	font-family: 'Assistant', sans-serif;
	line-height:normal;
	font-weight:500;
}

h1
{
	font-family: 'Assistant', sans-serif;
	text-align: center;
	letter-spacing: 4px;
	margin-top: 0px;
	margin-bottom: 20px;
    line-height:normal;
	font-weight:300;
	font-size: 48px;
}

h2
{
	font-size:16pt;

}
.clear
{
	clear: both;
}
.heading
{
	width: 600px;
}
.alignr
{
	text-align: right;
	font-size: 15pt;
}

.alignc
{
	text-align: center;
}
.alignl
{
	float: left;
	width:290px;
}
hr
{
	margin: 10px auto;
	width:550px;
}

#circle
{
	margin-top:0;
}

#nav
{
	margin-left:140px;
}

#nav li
{
	float:left;
	margin-left:30px;
}
#nav li:first-child
{
	list-style-type:none;
	margin-left:0px;
}

#nav li a
{
	margin-left:10px;
}

li
{
	list-style-type:circle;
}

/*
#accordion h3
{
	cursor:pointer;
}*/

.ui-accordion-content
{
	height:auto !important;
}

:focus
{
	outline:none;
}
#floatRight
{
	float: right;
}
.imgDiv
{
	width:310px;
	float: left;
}
.imgDiv img
{
    width:250px;
	border: 0px;
    border-radius:50% !important;
}

.imgDiv2
{
	width:310px;
	float: left;
}
.imgDiv2 img
{
	width:250px;
	border: 0px;
}
.portEntry
{
	margin-bottom:26px;
}
.alignl p
{
	font-weight:400;
	margin:0;
}
